.article-component {
  $border-radius: 6px;

  position: relative;
  width: 270px;
  height: 400px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: $border-radius;
  margin: 0 25px 50px 25px;
  padding-bottom: 24px;
  overflow: hidden;

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60%;
    opacity: 1;
    transition: opacity 0.1s ease;
  }

  &__image {
    position: absolute;
    top: 0;
    height: 100%;
    visibility: hidden;
  }

  &__image_loadend {
    visibility: visible;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    background-color: #fff;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    left: 0;
    padding: 24px 20px;
    transition: top 0.1s ease;
  }

  &__title {
    font-weight: bold;
    letter-spacing: 0.4px;
    padding-bottom: 12px;
    line-height: 20px;
    color: #4C3B4D !important;
  }

  &__published {
    position: relative;
    padding-left: 14px;
    font-size: 11px;
    font-weight: bold;
    color: #61C9A8;
  }

  &__published::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-image: url('b64---/assets/images/ic_clock.svg---');
    background-size: cover;
    top: 1px;
    left: 0;
  }

  &__paragraph {
    color: #ADA8B6;
    margin-top: 12px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.3px;
  }

  &__link {
    color: #A53860;
    text-decoration: none;
  }

  &_initial {
    opacity: 0.4;

    .article-component__header,
    .article-component__content {
      display: none;
    }
  }

  &:hover {
    .article-component__header {
      opacity: 0.5;
    }

    .article-component__content {
      top: 30%;
    }
  }

  @media screen and (max-width: 400px) {
    margin: 0 0 50px 0;
  }
}
